/* Write your CSS here */
.prime-video {
  width: 100%;
  height: 30vh;
}

.video-container {
  background-color: #000000;
  width: 100vw;
  height: 70vh;
  padding: 40px;
}

.title-movie {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}
